@media screen and (min-width: 1021px) {
    /*layout*/
    .con_Box02 .Box02-right,
    .con_Box02 .Box02-left {
        height: 370px;
    }
    
}

@media screen and (max-width: 1020px) {
    /*layout*/
    .con_Box02 .Box02-right,
    .con_Box02 .Box02-left {
        height: 400px;
    }
    /*con01*/
    .con_Box01 aside .info dt,
    .con_Box01 aside .info dd {
        clear: both;
        width: 100%;
        margin-bottom: 0;
    }
    .con_Box01 aside .info dd {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 900px) {
    /*header*/
    header.header section {
        width: 100%;
        clear: both;
        position: relative;
    }
    header.header .header-img {
        height: 360px;
        display: block;
        background: url('../img/girl.jpg') no-repeat center 13%;
        background-size: cover;
    }
    .file,
    .icon {
        display: none;
    }
    .job,
    .title {
        width: 100%;
        clear: both;
    }
    /*layout*/
    .mediawh {
        clear: both;
        width: 100%;
    }
    .con_Box01 article .about {
        margin-bottom: 50px;
    }
    .con_Box02 .Box02-left {
        height: 100%;
    }
    .con_Box02 .Box02-right {
        height: 330px;
    }
    footer .footer_Wrap {
        height: 520px;
    }
    footer .footer_Wrap .mediawh {
        margin-bottom: 55px;
    }
    footer .copyright {
        padding-top: 0px;
    }
    footer .footer_Wrap .inputEmail {
        width: 90%;
    }
    /*con_Box01 */
    .con_Box01 aside .info {
        padding: 40px 50px 40px 50px;
    }
    .about ul li .aboutlist h4 {
        padding-top: 15px;
    }
    .about ul li {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 655px) {
    /*layout*/
    .navigation li {
        width: 33.333333%;
    }
    .skill {
        clear: both;
        margin-bottom: 40px;
        width: 100%;
       
    }
    .backblue{
    	 background-color: #3498db;
    }
    .backgray{
    	background-color: #474747;
    	padding-bottom: 30px;
    }
    .con_Box02 .Box02-right {
        min-height: 920px;
    }
    /*header*/
    .title h1 {
    	font-size: 7vw;
    	vertical-align: middle;
    	padding: 45px 0 0 50px;
    }
    .job h2 {
    	font-size: 5vw;
    	vertical-align: middle;
    	padding: 35px 0 0 50px;
    }
    /*con01*/
    .about ul li .aboutlist i.left,
    .about ul li .aboutlist .indent {
        clear: both;
    }
    .about ul li .aboutlist h4 {
        padding-top: 15px;
    }
    .about ul li {
        margin-bottom: 35px;
    }
}
