// max-width 990 web version
@media screen and (max-width: 1200px) {
    //width changed
    .container {
        width: 100%;
        margin: 0;
        padding: 0 40px;
    }
    //footer
    .footer {
        .footer-info {
            margin-bottom: 30px;
        }
    }
    .content {
        .main_service {
            margin-bottom: 30px;
        }
    }
}

// tablet vesion
@media screen and (max-width: 767px) {
    //width changed
    .container {
        margin: 0;
        padding: 0 20px;
    }
    //main header
    .header {
        .main_toptab {
            display: none;
        }
    }
    //sub header
    .sub_header {
        .navbar-header {
            padding-bottom: 20px;
        }
        .nav-pills {
            margin-top: 20px;
        }
        .nav-pills > li {
            clear: left !important;
            text-align: center;
            width: 100%;
            padding: 2px 0;
        }
        h1 {
            padding-bottom: 10px;
        }
        .toptab_info {
            display: none;
        }
        .navbar-collapse {
            width: 100%;
            margin-top: 20px;
        }
    }
    .footer {
        //footer contents sections
        .footer-info {
            margin-bottom: 20px;
            p {
                margin-bottom: 5px;
            }
            //footer list
            ul {
                li {
                    padding: 0 15px 15px 0;
                }
            }
        }
        //COL04. BUSINESS HOURS
        .footer_workhour {
            li {
                border-bottom: none;
            }
            li:nth-child(odd) {
                color: $font-white;
            }
        }
        //footer quick link & copyright
        footer {
            margin-top: 0;
            p {
                width: 100%;
                text-align: center;
            }
            ul {
                width: 100%;
                text-align: center;
                li>a {
                    padding: 0 15px;
                }
            }
        }
    }
    .content {
        //main
        .main_top {
            padding: 170px 0;
            margin-right: 10px;
            .main_toptitle {
                .visual_title {
                    font-size: $font-size-l;
                }
                .visual_txt {
                    font-size: $font-size-m;
                    width: 80%;
                }
                button {
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
        }
        .main_service {
            height: auto;
            margin-bottom: 50px;
            .services {
                position: relative;
                top: -30px;
                .services_col:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .main_Contractors {
            margin-bottom: 50px;
        }
        .main_withus {
            margin-bottom: 70px;
            padding: 180px 0;
            .main_toptitle {
                width: 80%;
                line-height: 3em;
                .visual_title {
                    font-size: $font-size-l;
                }
            }
        }
        //main section 08. client
        .main_last {
            .last_client {
                margin-bottom: 50px;
            }
            .last_test {
                margin-bottom: 50px;
            }
        }
        //sub page
        /* sub top title section */
        .sub_toptitle {
            h2 {
                font-size: $font-size-l;
                padding-top: 3px;
            }
            button {
                font-size: $font-size-base;
                padding: 5px 15px;
            }
        }
    }
}

// small mobile vesion
@media screen and (max-width: 410px) {
    .content {
        .main_top {
            padding: 200px 0;
            .main_toptitle {
                top: 13%;
                .visual_title {
                    font-size: $font-size-l;
                }
                .visual_txt {
                    font-size: $font-size-m;
                    width: 80%;
                }
                button {
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
