
// Body
$body-bg: #fff;

// Width
$basic-width: 100%;


// Background color
$tab_lightgray: #f8f9f9;
$footer_bg:#000;
$footer_bgBottom: #222;
$yellow_bg:#fab702;
$deep_gray:#ccc;
$light_gray:#f8f9f9;
$gray:#777;
$overlay:rgba(0, 0, 0, 0.5);

// Font color
$font-orange: #fab702;
$font-white:#fff;
$font-black:#000;
$font-gray:#777;


// Border color
$border-white:#fff;
$border-black:#000;
$border-gray: #e9e9e9;
$border-dotted:rgba(255, 255, 255, 0.2);


// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$border-default: 1px solid $border-gray;
$border-dark: 1px solid $deep_gray;
$border-orange: 1px solid $font-orange;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 12px;
$line-height-base: 1.6;
$text-color: #999;
$font-size-m: 14px;
$font-size-l: 24px;
$font-size-title: 36px;
$font-size-xl: 42px;
$font-icon_xl: 80px;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
