/*common*/

* {
    margin: 0;
    padding: 0;
}

div,
img,
li,
h1,
h2,
h3,
h4,
h5,
a {
    display: block;
}

li {
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
}

.no-padding {
    padding: 0;
}

article,
section {
    padding-bottom: 50px;
}


/*color Variables*/

$deepblue:#445e7f;
$blue:#4b96f3;
$white:#fff;
$gray:#aaa;
$black:#000;
$red:#d5793c;
$lightred:#fff0d7;
$back01:#e7e4df;
$back02:#e5eae4;
$back03:#e3e7e8;

/*body*/

html,
body {
    font-family: 'Open Sans', 'Malgun Gothic', 'Nanum Gothic', 'dotum';
    width: 100%;
    height: 100%;
}

a {
    color: $deepblue;
}

a:hover {
    text-decoration: none;
    color: $blue;
}


/*overlay&hidden*/

.overlay {
    background-color: $black;
    opacity: 0.3;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}


/*header*/

header {
    margin: 20px 0;
    .logo {
        width: 100px;
    }
    /*navigation*/
    .nav #gnb {
        line-height: 2.5;
        li {
            float: left;
            padding: 0 10px;
            a {
                text-decoration: none;
            }
        }
    }
}


/*slide section*/

.slide {
    /*text in slide img*/
    .carousel-caption {
        bottom: 100px;
        .caption-title {
            font-size: 50px;
            font-weight: bold;
        }
        .caption-description {
            font-size: 24px;
        }
    }
}


/*image banner section*/

.image-menu {
    .banner:nth-child(1) {
        background: url('../../img/office_bg_01.jpg') no-repeat 0 0;
    }
    .banner:nth-child(2) {
        background: url('../../img/office_bg_02.jpg') no-repeat 0 0;
    }
    .banner:nth-child(3) {
        background: url('../../img/office_bg_03.jpg') no-repeat 0 0;
    }
    .banner:nth-child(4) {
        background: url('../../img/office_bg_04.jpg') no-repeat 0 0;
    }
    .banner-main {
        padding: 0;
        cursor: pointer;
        position: relative;
        height: 100%;
        .image-menu-desc {
            width: 100%;
            .text {
                color: $white;
                font-size: 15px;
            }
            #title {
                position: absolute;
                width: 100%;
                top: 15%;
            }
            #desc {
                position: absolute;
                width: 100%;
                bottom: 25%;
            }
        }
    }
    .banner {
        cursor: pointer;
        position: relative;
        height: 100%;
        padding: 20px 0;
        background-size: cover;
        .office-txt {
            color: $white;
            position: relative;
            left: 5%;
            text-align: left;
            h3 {
                font-size: 35px;
                margin-bottom: 25px;
            }
            .red {
                color: $lightred;
            }
            p {
                font-size: 12px;
                line-height: 100%;
            }
        }
        /* Office Division*/
    }
    /*mouse hover overlay*/
    .banner:hover .overlay, .banner-main:hover .overlay {
        display: block !important;
    }
}


/*sitemap section*/

.sitemap {
    margin-top: 20px;
    line-height: 150%;
    .title {
        font-weight: bold;
    }
    a {
        font-size: 12px;
    }
}

.sitemap > ul > li {
    padding: 20px;
    border: 1px solid $gray;
    border-right: none;
}

.sitemap > ul > li:last-child {
    border-right: 1px solid $gray;
}


/* about us top & common*/

.subtitle {
    p {
        font-size: 35px;
        line-height: 180%;
        padding-top: 45px;
    }
}

h1 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 25px;
}


/* about us content list*/

.aboutus-list {
    margin: 0;
    .aboutus-img01 {
        height: 100%;
        background: #ccc url('../../img/about_img_01.jpg') no-repeat 0 0;
        background-position: center center;
        background-size: cover;
        box-sizing: border-box;
    }
    .aboutus-img02 {
        height: 100%;
        background: #ccc url('../../img/main_service_visual.jpg') no-repeat 0 0;
        background-position: center center;
        background-size: cover;
        box-sizing: border-box;
    }
    .aboutus-txt02 {
        .mobile-align {
            h2 {
                color: $red;
                font-size: 14px;
                font-weight: bold;
            }
            p {
                font-size: 30px;
            }
        }
    }
    img {
        padding: 10px;
    }
    p {
        font-size: 13px;
        .red {
            color: $red;
        }
    }
    p:first-child {
        color: $gray;
    }
    .rightpadding {
        padding-right: 30px;
        text-align: right;
    }
    .leftpadding {
        padding-left: 30px;
        text-align: justify;
    }
}


/* Business Division*/

.nav-tabs li {
    width: 50%;
    text-align: center;
}

.tab-pane {
    .title {
        font-size: 30px;
        margin-top: 25px;
    }
    .titlecon {
        font-size: 24px;
        color: $red;
    }
    .contents01 {
        .img-circle {
            background-color: $back01;
            margin: 30px 10px 0 10px;
            padding: 50px 30px 20px 30px;
            width: 210px;
            height: 210px;
            text-align: center;
            display: inline-table;
            p:first-child {
                font-size: 17px;
            }
        }
        .img-circle:nth-child(2) {
            background-color: $back02;
        }
        .img-circle:nth-child(3) {
            background-color: $back03;
        }
    }
}


/* media query*/

@media screen and (max-width: 991px) {
    //main page - sitemap
    .sitemap > ul > li:nth-child(3),
    .sitemap > ul > li:nth-child(6) {
        border-right: 1px solid $gray;
    }
    .sitemap > ul > li:nth-child(1),
    .sitemap > ul > li:nth-child(2),
    .sitemap > ul > li:nth-child(3),
    {
        border-bottom: none;
    }
}

@media screen and (min-width: 768px) {
    //subpage - contact us (reverse image and text)
    .aboutus-txt02 {
        float: left;
    }
    .aboutus-img02 {
        float: right;
    }
}

@media screen and (max-width: 767px) {
    //subpage - contact us
    .mobile-align {
        text-align: center !important;
    }
    .leftpadding,
    .rightpadding {
        padding: 0 !important;
    }
    //about list bg-img fixed size when it is mobile size
    .aboutus-list {
        .bg_img {
            height: 200px !important;
        }
    }
}
