/*color Variables*/
/*BORDOER Variables*/
/*common*/
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body,
html,
h1,
h2,
h3,
h4,
h5,
div,
ul,
li,
img,
nav,
section,
article,
aside,
footer,
header {
  margin: 0;
  padding: 0; }

div,
img,
li,
h1,
h2,
h3,
h4,
h5,
a {
  display: block; }

li {
  list-style: none;
  text-decoration: none; }

img {
  width: 100%; }

.no-padding {
  padding: 0; }

.table {
  display: table;
  height: 100%;
  margin: 0; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.nopadding {
  padding: 0; }

/*font face*/
@font-face {
  font-family: "Calibri";
  src: url("../font/Calibri.eot");
  src: url("../font/Calibri.eot?#iefix") format("embedded-opentype"), url("../font/Calibri.woff") format("woff"), url("../font/Calibri.ttf") format("truetype"), url("../font/Calibri.svg#Calibri") format("svg"); }
@font-face {
  font-family: "Calibri-Bold";
  src: url("../font/Calibri-Bold.eot");
  src: url("../font/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Calibri-Bold.woff") format("woff"), url("../font/Calibri-Bold.ttf") format("truetype"), url("../font/Calibri-Bold.svg#Calibri-Bold") format("svg"); }
/*body*/
html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 13px; }

body {
  width: 100%;
  color: #424242; }

a {
  color: #fff; }

a:hover {
  color: #d73240;
  text-decoration: none; }

/*nav*/
.navbar {
  border: none;
  margin: 0; }
  .navbar .nav_back {
    background: #d73240;
    padding: 10px; }

.navbar-inverse {
  background: transparent;
  height: 120px;
  width: 100%;
  border-radius: 0;
  padding: 20px 10px; }
  .navbar-inverse .navbar-header a {
    font-family: 'Calibri-Bold';
    font-size: 38px;
    font-weight: bold;
    color: #d73240; }
  .navbar-inverse .navbar-header .navbar-brand {
    margin-left: 10px;
    color: #fff;
    font-size: 24px; }
  .navbar-inverse .navbar-header .navbar-toggle {
    margin-right: 30px;
    background-color: #d73240; }
  .navbar-inverse .navbar-collapse {
    margin: 0; }
    .navbar-inverse .navbar-collapse .navbar-nav li {
      padding: 0 10px; }
      .navbar-inverse .navbar-collapse .navbar-nav li a {
        color: #fff; }
      .navbar-inverse .navbar-collapse .navbar-nav li a:hover {
        color: #000;
        font-weight: bold; }
    .navbar-inverse .navbar-collapse .navbar-nav > .active > a,
    .navbar-inverse .navbar-collapse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-collapse .navbar-nav > .active > a:focus {
      color: #000 !important;
      background: transparent;
      box-shadow: none;
      font-weight: bold; }

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: none; }

/*header*/
#header {
  width: 100%;
  height: 100%;
  background: url("../../img/main_blur.jpg") no-repeat center center;
  background-size: cover;
  position: relative; }
  #header .title {
    width: 100%;
    position: relative;
    display: table;
    height: 100%; }
    #header .title .table-cell {
      vertical-align: middle;
      display: table-cell;
      width: 500px; }
      #header .title .table-cell h1 {
        font-weight: bold;
        font-size: 70px;
        color: #d73240;
        font-family: Calibri;
        -webkit-text-stroke: 1px #d73240;
        text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
        #header .title .table-cell h1 span {
          font-size: 88px; }
      #header .title .table-cell p {
        width: 100%;
        text-align: center; }
      #header .title .table-cell .subtitle {
        margin: 20px 0;
        font-size: 30px;
        font-weight: bold; }

/*container*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative; }

/*header info - col 3*/
.header-info {
  background: #d73240;
  color: #fff;
  padding: 25px 20px;
  margin-top: -80px;
  z-index: 2; }
  .header-info .glyphicon {
    font-size: 30px; }
  .header-info h2 {
    padding: 20px 0; }

/*section1*/
.contents {
  padding-top: 100px; }
  .contents header {
    padding-bottom: 50px; }
    .contents header h3 {
      font-size: 48px;
      font-family: 'Calibri-Bold'; }
      .contents header h3 span {
        font-family: 'Calibri'; }
    .contents header .h_line {
      background: #d73240;
      width: 100px;
      margin-bottom: 50px;
      height: 3px;
      display: block; }
    .contents header p {
      font-size: 18px; }
  .contents section h4 {
    font-size: 30px; }
  .contents section p {
    padding: 15px 0; }
  .contents section button {
    margin-top: 10px;
    padding: 10px 20px;
    width: 150px;
    font-size: 18px; }
  .contents section img {
    width: 240px;
    height: 240px; }
  .contents section .serviceimg h4 {
    margin-top: 10px;
    font-family: 'Calibri-Bold';
    text-align: center; }
  .contents section .serviceimg p {
    text-align: center; }
  .contents section .serviceimg .img-circle {
    margin: 0 auto 30px auto; }
  .contents section .circle {
    background: #d73240;
    width: 35px;
    height: 30px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px; }
  .contents .img-phone {
    background: url("../../img/iphone.png") no-repeat center top;
    background-size: 60%;
    height: 400px; }
  .contents .howto .arrow {
    z-index: 10;
    position: absolute;
    top: 45%;
    right: -27px;
    font-size: 30px;
    font-weight: bold;
    color: #d73240;
    width: 60px;
    height: 60px;
    background: #ededed;
    padding: 10px 15px; }
  .contents .howto li {
    padding: 0;
    padding: 30px;
    height: 300px; }
    .contents .howto li .num {
      font-family: 'Calibri-Bold';
      font-size: 48px; }
  .contents .howto p {
    width: 88%;
    text-align: justify; }
  .contents .howto li:nth-child(1),
  .contents .howto li:nth-child(5) {
    background: #d73240;
    color: #fff; }
  .contents .howto li:nth-child(2),
  .contents .howto li:nth-child(6) {
    background: #ededed; }
  .contents .howto li:nth-child(3),
  .contents .howto li:nth-child(4) {
    background: url("../../img/howto_01.png") no-repeat center top;
    background-size: cover; }
  .contents .contact {
    text-align: center;
    width: 100%; }
    .contents .contact .form-group {
      margin-bottom: 20px;
      padding: 8px; }
      .contents .contact .form-group input,
      .contents .contact .form-group textarea {
        border: 1px solid #424242;
        padding: 10px 20px;
        width: 100%;
        height: auto; }
    .contents .contact button {
      width: 50%;
      margin: 0 auto; }

/* footer */
footer {
  margin-top: 80px;
  background: #424242;
  padding: 40px 0 20px 0;
  width: 100%;
  color: #fff; }
  footer ul {
    margin-bottom: 15px; }
    footer ul li {
      display: inline-block;
      margin-right: 10px; }
      footer ul li a {
        border: 2px solid #aaa;
        border-radius: 50%;
        width: 33px;
        height: 33px;
        padding: 6px 9px;
        display: block; }
      footer ul li a:hover {
        color: #d73240;
        border-color: #d73240; }

/*mobile size*/
@media screen and (max-width: 767px) {
  /*header*/
  #header .title .table-cell {
    max-width: 500px; }
    #header .title .table-cell h1 {
      font-size: 48px; }
      #header .title .table-cell h1 span {
        font-size: 62px; }

  /*header info - col 3*/
  .header-info .col-sm-4 {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px dashed #fff; }
  .header-info .col-sm-4:last-child {
    border-bottom: 0;
    margin: 0;
    padding-bottom: 0; }

  .contents .img-phone {
    height: 0;
    display: none; }
  .contents p {
    text-align: justify; }
  .contents .arrow {
    display: none; }
  .contents .serviceimg > li {
    margin-bottom: 20px; }
  .contents .serviceimg > li:last-child {
    margin-bottom: 0; } }
/*mobile size*/
@media screen and (max-width: 360px) {
  /*header*/
  #header .title .table-cell {
    max-width: 300px; }
    #header .title .table-cell h1 {
      font-size: 48px; }
      #header .title .table-cell h1 span {
        font-size: 24px; }
    #header .title .table-cell .subtitle {
      font-size: 18px; }

  /*header info - col 3*/
  .header-info {
    margin-top: 0; }

  .howto li:nth-child(3) {
    display: none; } }
